{% extends 'layout.html' %}
{% load static %}
{% block content %}
<nav>
    <div class="nav-wrapper">
      <img class="brand-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5uKElHM_IXrT3k9gdnvQO4LgyibNPlc04Aw&usqp=CAU" style="width: 120px;height: 65px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'category_manage' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%; border-radius: 5%;" class="waves-effect waves-light btn">Manage Categories</a></li>
        <li><a href="{% url 'dish_manage' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">Manage Dishes</a></li>
        <li><a href="{% url 'order_management' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">Manage orders</a></li>
        <li><a href="{% url 'edit_managers' %}"style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">Manage managers</a></li>
        <li><a href="{% url 'signup' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">create a admin user</a></li>
        <li><a href="{% url 'edit_user' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">Edit User</a></li>
        <li><a href="{% url 'order_history' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">order history</a></li>
        <li><a href="{% url 'cart' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn">New order</a></li>
        <li><a href="{% url 'logout_user' %}" style="font-size: x-small; padding: 2px;padding-left: 10px;padding-right: 10px; border-radius: 5%;" class="waves-effect waves-light btn"><i class="material-icons left">cancel</i>Logout</a></li>
      </ul>
    </div>
  </nav>

  <h3 class="brand-logo center">Menu</h3>
  <div class="input-field" style="width: 300px; margin: 0 auto;">
  <form id="myForm" action="{% url 'user_screen' %}" method="post">
    {% csrf_token %}
    <label>category : </label>
    <select class="browser-default" name="category_id" onchange="document.getElementById('myForm').submit();">
    <option value="" disabled selected>Choose your option</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
    </select>
  </form>
  </div>


  <div class="row" style="display: flex; justify-content: center; flex-wrap: wrap;">
    {% for dish in dishes %}
    <div class="col s12 m4 l3" style="width: 33vw; height: auto;">
      <div class="card">
        <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
          <img style="width: 30mm; height: 30mm;" src="{{dish.image}}">
        </div>        
        <div class="card-content">
          <span class="card-title">{{dish.name}}</span>
          <ul style="max-height: 200px; overflow-y: auto;">
            <li>Price: {{dish.price}}</li>
            <li>Description: {{dish.description}}</li>
            <li>Gluten Free: {{dish.is_gluten_free}}</li>
            <li>Vegetarian: {{dish.is_vegeterian}}</li>
            <li>Category: {{dish.category_id.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock content%}