{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <h3 class="brand-logo center">Edit Dish</h3>
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <a href="{% url 'dish_manage' %}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
    </div>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tag %} class="{{ message.tags }}" {% endif %} style="color: {% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% endif %};">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action="{% url 'edit_dish' id=dish.id %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col s12 center-align">
        <img style="max-width: 320px; max-height: 180px;" src="{{ dish.image }}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="{{ dish.name }}" name="dish_name" type="text" class="validate" id="dish_name" placeholder="Dish Name">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="{{ dish.price }}" name="dish_price" type="text" class="validate" id="dish_price" placeholder="Dish Price">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="{{ dish.description }}" name="dish_description" type="text" class="validate" id="dish_description" placeholder="Dish Description">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="{{ dish.image }}" name="dish_image" type="text" class="validate" id="dish_image" placeholder="Dish Image">
      </div>
    </div>
    <p>
      <label>
        <input type="checkbox" class="filled-in" name="is_gluten_free" {% if dish.is_gluten_free %}checked="checked"{% endif %} />
        <span>Is Gluten Free</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in" name="is_vegetarian" {% if dish.is_vegetarian %}checked="checked"{% endif %} />
        <span>Is Vegetarian</span>
      </label>
    </p>

    <label>category</label>
    <select class="browser-default" name="category_id">
    <option value="" disabled selected>Choose your option</option>
    {% for category in categories %}
        {% if category.id == dish.category_id.id %}
            <option value="{{category.id}}" selected>{{category.name}}</option>
        {% else %}
            <option value="{{category.id}}">{{category.name}}</option>
        {% endif %}
    {% endfor %}
    </select>
    <button type="submit" class="waves-effect waves-light btn"> ADD </button>
</form>
{% endblock content %}
