{% extends 'layout.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col s12">
      <a href="{% url 'user_screen' %}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
    </div>
  </div>

  <div class="row" style="display: flex; justify-content: center; flex-wrap: wrap;">
    {% for dish in dishes %}
    <div class="col s12 m4 l3" style="display: flex; justify-content: center;">
        <div class="card meduim" style="max-height: min-content;">
            <div class="card-image">
                <img style="max-width:30mm;max-height:30mm;" src="{{dish.image}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{dish.name}}</span>
                <ul>
                    <li>PRICE : {{dish.price}}</li>
                    <li>description : {{dish.description}}</li>
                    <li>is gluten free : {{dish.is_gluten_free}}</li>
                    <li>is vegeterian : {{dish.is_vegeterian}}</li>
                    <li> dish category : {{dish.category_id.name}}</li>
                </ul>
            </div>
        </div>
      </form>
    </div>
    {% endfor %}

</div>

{% endblock content %}
